.megamaxmenu-skin-nightsky {
  font-size: 12px;
  color: #888;
}
.megamaxmenu-skin-nightsky .megamaxmenu-target {
  color: #555;
}
.megamaxmenu-skin-nightsky .megamaxmenu-target-description {
  color: #aaa;
}
.megamaxmenu-skin-nightsky.megamaxmenu-responsive-toggle {
  background: #3d0077;
  color: #eee;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.megamaxmenu-skin-nightsky.megamaxmenu-responsive-toggle:hover {
  background: #390b51;
  color: #fff;
}
.megamaxmenu-skin-nightsky {
  border: 1px solid #000;
  background-color: #3d0077;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3d0077), color-stop(50%, #3d0077), color-stop(50%, #390b51));
  background: -webkit-linear-gradient(top, #3d0077, #390b51);
  background: -moz-linear-gradient(top, #3d0077, #390b51);
  background: -ms-linear-gradient(top, #3d0077, #390b51);
  background: -o-linear-gradient(top, #3d0077, #390b51);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0.megamaxmenu-current-menu-item > .megamaxmenu-target,
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0.megamaxmenu-current-menu-parent > .megamaxmenu-target,
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0.megamaxmenu-current-menu-ancestor > .megamaxmenu-target {
  color: #fff;
  background: #2e0054;
}
.megamaxmenu-skin-nightsky .megamaxmenu-item.megamaxmenu-item-level-0 > .megamaxmenu-highlight {
  color: #4d90fe;
  background: transparent;
}
.megamaxmenu-skin-nightsky.megamaxmenu-vertical .megamaxmenu-item-level-0 > .megamaxmenu-target {
  background-color: #3d0077;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3d0077), color-stop(50%, #3d0077), color-stop(50%, #390b51));
  background: -webkit-linear-gradient(top, #3d0077, #390b51);
  background: -moz-linear-gradient(top, #3d0077, #390b51);
  background: -ms-linear-gradient(top, #3d0077, #390b51);
  background: -o-linear-gradient(top, #3d0077, #390b51);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0 > .megamaxmenu-target {
  font-weight: bold;
  color: #d9d9d9;
  text-transform: uppercase;
  border-left: 1px solid #000;
  -webkit-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
}
body:not(.rtl) .megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-item-level-0:first-child > .megamaxmenu-target {
  box-shadow: none;
}
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0:hover > .megamaxmenu-target,
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-target {
  background: #2e0054;
  color: #fff;
}
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target {
  color: #d9d9d9;
}
.megamaxmenu-skin-nightsky .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target:hover {
  color: #fff;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu.megamaxmenu-submenu-drop {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop {
  border-top: none;
}
.megamaxmenu-skin-nightsky .megamaxmenu-tab-content-panel {
  background: #f9f9f9;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu,
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-target {
  color: #888;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-highlight {
  color: #4d90fe;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-target:hover,
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target {
  color: #111;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-target > .megamaxmenu-target-description {
  color: #aaa;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target > .megamaxmenu-target-description {
  color: #666;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target {
  font-weight: bold;
  color: #2e0054;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-item-header.megamaxmenu-has-submenu-stack > .megamaxmenu-target {
  border-bottom: 1px solid #e9e9e9;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target:hover {
  color: #222;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-current-menu-item > .megamaxmenu-target {
  color: #222;
  background: transparent;
}
.megamaxmenu-nojs.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-tabs .megamaxmenu-tab:hover > .megamaxmenu-target,
.megamaxmenu-skin-nightsky .megamaxmenu-submenu .megamaxmenu-tab.megamaxmenu-active > .megamaxmenu-target {
  background: #eee;
  color: #111;
}
.megamaxmenu-skin-nightsky .megamaxmenu-tabs-group,
.megamaxmenu-skin-nightsky .megamaxmenu-tab > .megamaxmenu-target,
.megamaxmenu-skin-nightsky .megamaxmenu-tab-content-panel {
  border-color: #eee;
}
.megamaxmenu-skin-nightsky .megamaxmenu-submenu-drop {
  border-bottom-width: 3px;
}
.megamaxmenu-skin-nightsky .megamaxmenu-item .megamaxmenu-submenu-drop {
  -webkit-box-sizing: content-box;
  /* Takes into account borders */
  -moz-box-sizing: content-box;
  /* Takes into account borders */
  -o-box-sizing: content-box;
  /* Takes into account borders */
  box-sizing: content-box;
  /* Takes into account borders */
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-left_edge_bar,
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-full_width {
  left: -1px;
  /* for borders */
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-right_edge_bar {
  right: -1px;
  /* for borders */
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-full_width.megamaxmenu-submenu-padded {
  width: calc(100% + 3px);
  /* because we use box-sizing:border-box */
}
.megamaxmenu-skin-nightsky.megamaxmenu-vertical .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop,
.megamaxmenu-skin-nightsky.megamaxmenu-nojs.megamaxmenu-vertical .megamaxmenu-item-level-0:hover > .megamaxmenu-submenu-drop,
.megamaxmenu-skin-nightsky.megamaxmenu-vertical .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-submenu-drop,
.megamaxmenu-skin-nightsky.megamaxmenu-vertical .megamaxmenu-active .megamaxmenu-submenu.megamaxmenu-submenu-type-flyout .megamaxmenu-submenu-type-mega {
  top: -1px;
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-item-level-0.megamaxmenu-active:after {
  content: '';
  border-bottom: 1px solid transparent;
  width: 100%;
  width: calc(100% + 1px);
  margin-bottom: -1px;
}
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-submenu-drop,
.megamaxmenu-skin-nightsky.megamaxmenu-horizontal:not(.megamaxmenu-transition-shift) .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop {
  margin-top: 1px;
}
.megamaxmenu-skin-nightsky.megamaxmenu-vertical:before {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  border-right: 1px solid #000;
  z-index: 100;
  width: 0;
}
