PREFIX {
}
PREFIX .megamaxmenu-skin-shinyblack {
  font-size: 12px;
  color: #ccc;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-target {
  color: #ddd;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-target-description {
  color: #ccc;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-responsive-toggle {
  background: #222;
  color: #eee;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-responsive-toggle:hover {
  background: #111;
  color: #fff;
}
PREFIX .megamaxmenu-skin-shinyblack {
  border: 1px solid #000;
  background-color: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #333), color-stop(50%, #333), color-stop(50%, #111));
  background: -webkit-linear-gradient(top, #333, #111);
  background: -moz-linear-gradient(top, #333, #111);
  background: -ms-linear-gradient(top, #333, #111);
  background: -o-linear-gradient(top, #333, #111);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0.megamaxmenu-current-menu-item > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0.megamaxmenu-current-menu-parent > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0.megamaxmenu-current-menu-ancestor > .megamaxmenu-target {
  color: #fff;
  background: #000;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item.megamaxmenu-item-level-0 > .megamaxmenu-highlight {
  color: #4d90fe;
  background: transparent;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-vertical .megamaxmenu-item-level-0 > .megamaxmenu-target {
  background-color: #333;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #333), color-stop(50%, #333), color-stop(50%, #111));
  background: -webkit-linear-gradient(top, #333, #111);
  background: -moz-linear-gradient(top, #333, #111);
  background: -ms-linear-gradient(top, #333, #111);
  background: -o-linear-gradient(top, #333, #111);
  -webkit-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.1);
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0 > .megamaxmenu-target {
  font-weight: bold;
  color: #d9d9d9;
  text-transform: uppercase;
  border-left: 1px solid #000;
  -webkit-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
}
PREFIX body:not(.rtl) .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-item-level-0:first-child > .megamaxmenu-target {
  box-shadow: none;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0:hover > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-target {
  background: #111;
  color: #fff;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target {
  color: #d9d9d9;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target:hover {
  color: #fff;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu.megamaxmenu-submenu-drop {
  background: #000;
  border: 1px solid #111;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop {
  border-top: none;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-tab-content-panel {
  background: #000;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-target {
  color: #d9d9d9;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-highlight {
  color: #4d90fe;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-target:hover,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target {
  color: #fff;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-target > .megamaxmenu-target-description {
  color: #aaa;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target > .megamaxmenu-target-description {
  color: #666;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target {
  font-weight: bold;
  color: #eee;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-item-header.megamaxmenu-has-submenu-stack > .megamaxmenu-target {
  border-bottom: 1px solid #333;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target:hover {
  color: #fff;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-current-menu-item > .megamaxmenu-target {
  color: #fff;
  background: transparent;
}
PREFIX .megamaxmenu-nojs.megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-tabs .megamaxmenu-tab:hover > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu .megamaxmenu-tab.megamaxmenu-active > .megamaxmenu-target {
  background: #333;
  color: #eee;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-tabs-group,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-tab > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-tab-content-panel {
  border-color: #000;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-submenu-drop {
  border-bottom-width: 3px;
}
PREFIX .megamaxmenu-skin-shinyblack .megamaxmenu-item .megamaxmenu-submenu-drop {
  -webkit-box-sizing: content-box;
  /* Takes into account borders */
  -moz-box-sizing: content-box;
  /* Takes into account borders */
  -o-box-sizing: content-box;
  /* Takes into account borders */
  box-sizing: content-box;
  /* Takes into account borders */
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-left_edge_bar,
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-full_width {
  left: -1px;
  /* for borders */
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-right_edge_bar {
  right: -1px;
  /* for borders */
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-submenu-drop.megamaxmenu-submenu-align-full_width.megamaxmenu-submenu-padded {
  width: calc(100% + 3px);
  /* because we use box-sizing:border-box */
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-vertical .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop,
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-nojs.megamaxmenu-vertical .megamaxmenu-item-level-0:hover > .megamaxmenu-submenu-drop,
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-vertical .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-submenu-drop,
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-vertical .megamaxmenu-active .megamaxmenu-submenu.megamaxmenu-submenu-type-flyout .megamaxmenu-submenu-type-mega {
  top: -1px;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-item-level-0.megamaxmenu-active:after {
  content: '';
  border-bottom: 1px solid transparent;
  width: 100%;
  width: calc(100% + 1px);
  margin-bottom: -1px;
}
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-submenu-drop,
PREFIX .megamaxmenu-skin-shinyblack.megamaxmenu-horizontal:not(.megamaxmenu-transition-shift) .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop {
  margin-top: 1px;
}
