PREFIX {
}
PREFIX .megamaxmenu-skin-trans-black-hov {
  font-size: 12px;
  color: #ccc;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-target {
  color: #ddd;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-target-description {
  color: #ccc;
}
PREFIX .megamaxmenu-skin-trans-black-hov.megamaxmenu-responsive-toggle {
  background: transparent;
  color: #444;
  font-size: 12px;
  text-transform: none;
  font-weight: bold;
}
PREFIX .megamaxmenu-skin-trans-black-hov.megamaxmenu-responsive-toggle:hover {
  background: transparent;
  color: #222;
}
PREFIX .megamaxmenu-skin-trans-black-hov {
  border: none;
  background: transparent;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0.megamaxmenu-current-menu-item > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0.megamaxmenu-current-menu-parent > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0.megamaxmenu-current-menu-ancestor > .megamaxmenu-target {
  color: #000;
  background: transparent;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item.megamaxmenu-item-level-0 > .megamaxmenu-highlight {
  color: #4d90fe;
  background: transparent;
}
PREFIX .megamaxmenu-skin-trans-black-hov.megamaxmenu-vertical .megamaxmenu-item-level-0 > .megamaxmenu-target {
  background: transparent;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0 > .megamaxmenu-target {
  font-weight: bold;
  color: #666;
  text-transform: none;
  border-left: none;
  -webkit-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 1px 0 0 0 rgba(255, 255, 255, 0.1);
}
PREFIX body:not(.rtl) .megamaxmenu-skin-trans-black-hov.megamaxmenu-horizontal .megamaxmenu-item-level-0:first-child > .megamaxmenu-target {
  box-shadow: none;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0:hover > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0.megamaxmenu-active > .megamaxmenu-target {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target {
  color: #666;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-item-level-0 > .megamaxmenu-submenu-type-stack > .megamaxmenu-item > .megamaxmenu-target:hover {
  color: #fff;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu.megamaxmenu-submenu-drop {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid #111;
}
PREFIX .megamaxmenu-skin-trans-black-hov.megamaxmenu-horizontal .megamaxmenu-item-level-0 > .megamaxmenu-submenu-drop {
  border-top: none;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-tab-content-panel {
  background: rgba(0, 0, 0, 0.9);
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-target {
  color: #d9d9d9;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-highlight {
  color: #4d90fe;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-target:hover,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target {
  color: #fff;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-target > .megamaxmenu-target-description {
  color: #aaa;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-active > .megamaxmenu-target > .megamaxmenu-target-description {
  color: #666;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target {
  font-weight: bold;
  color: #eee;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-item-header.megamaxmenu-has-submenu-stack > .megamaxmenu-target {
  border-bottom: 1px solid #aaa;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-item-header > .megamaxmenu-target:hover {
  color: #fff;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-current-menu-item > .megamaxmenu-target {
  color: #fff;
  background: transparent;
}
PREFIX .megamaxmenu-nojs.megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-tabs .megamaxmenu-tab:hover > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu .megamaxmenu-tab.megamaxmenu-active > .megamaxmenu-target {
  background: #333;
  color: #eee;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-tabs-group,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-tab > .megamaxmenu-target,
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-tab-content-panel {
  border-color: #000;
}
PREFIX .megamaxmenu-skin-trans-black-hov .megamaxmenu-submenu-drop {
  border-bottom-width: 3px;
}
